:root {
  --primary-color: #00b09b;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00b09b,
    #96c93d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00b09b,
    #96c93d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: #fff;
  margin: 0;
}
p {
  text-align: center;
}
.btn {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 12px;
}

.currency {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='14' height='14' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='currentColor'/></g></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%, 0, 0;
}
.currency input {
  border: 0;
  background: transparent;
  font-size: 50px;
  text-align: left;
}
.swap-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 14px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
